/**
  Store variables here
**/
$screen-lg-min = 1440px
$screen-desktop-max = 1439px
$screen-desktop-min = 1025px
$screen-tablet-max = 1024px
$screen-md = 992px
$screen-tablet-max = 991px
$screen-tablet-min = 768px
$mobile-max = 767px
$screen-mxs-min = 480px
$screen-xs-max = 479px
$xs-mobile-max = 375px

$large = "(min-width:$screen-desktop-min)"
$medium = "(min-width:$screen-tablet-min) and (max-width:$screen-tablet-max)"
$medium-max = "(max-width:$screen-tablet-max)"
$medium-min = "(min-width:$screen-tablet-min)"
$small = "(max-width:$mobile-max)"

$site-padding = 20px
$font-family = 'Helvetica Neue', Helvetica, Arial, sans-serif
$bg-size-htc-url = '/backgroundsize.min.htc' 