$col-dark-grey = #2C2E2F
$col-profero-yellow = #ffd923
$col-black = #000
$col-white = #fff
$col-orange = #ff6600
$col-font-grey = #636363
$col-bg-grey = #1c1c1c


$color-names = "dark-grey", "primary-yellow", "black", "white"
colors()
  return $col-dark-grey $col-profero-yellow $col-black $col-white