.footer
  background-color $col-black
  font-family 'trade_gothic_lt_stdCnno18', 'HDLetterpress-Reg'
  padding-bottom 60px
  +small()
    padding-bottom 30px
  span
    color $col-font-grey
    font-size 1.2rem
    line-height 1.5rem
    +small()
      font-size 1rem
