@font-face {
    font-family: 'HDLetterpress-Reg';
    src: url('../fonts/hdletterpress-reg-webfont.eot');
    src: url('../fonts/hdletterpress-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hdletterpress-reg-webfont.woff2') format('woff2'),
         url('../fonts/hdletterpress-reg-webfont.woff') format('woff'),
         url('../fonts/hdletterpress-reg-webfont.ttf') format('truetype'),
         url('../fonts/hdletterpress-reg-webfont.svg#h-d_letterpressregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HDLetterpress-Reg-Greek';
    src: url('../fonts/hdletterpress-greek-webfont.eot') format('eot'); 
    src: url('../fonts/hdletterpress-greek-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/hdletterpress-greek-webfont.woff') format('woff'), 
		 url('../fonts/hdletterpress-greek-webfont.ttf') format('truetype'), 
		 url('../fonts/hdletterpress-greek-webfont.svg#hdletterpress-greek-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HDLetterpress-Reg-Cyrillic';
    src: url('../fonts/hdletterpress-cyrillic-webfont.eot?#iefix');
    src: url('../fonts/hdletterpress-cyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hdletterpress-cyrillic-webfont.woff') format('woff'),
         url('../fonts/hdletterpress-cyrillic-webfont.ttf') format('truetype'),
         url('../fonts/hdletterpress-cyrillic-webfont.svg#hdletterpress-cyrillic-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HDLetterpress-Reg-Latin-Extended';
    src: url('../fonts/hdletterpress-latin-extended-webfont.eot?#iefix') format('eot'), 
		 url('../fonts/hdletterpress-latin-extended-webfont.woff') format('woff'), 
		 url('../fonts/hdletterpress-latin-extended-webfont.ttf') format('truetype'), 
		 url('../fonts/hdletterpress-latin-extended-webfont.svg#hdletterpress-latin-extended-webfont') format('svg');
		 font-style: normal;
    	 font-weight: normal;
}
@font-face {
    font-family: 'TradeGothicW1G20';
    src: url('../fonts/TradeGothicW1G20.eot?#iefix') format("embedded-opentype"),
		 url('../fonts/TradeGothicW1G20.woff') format("woff"),
		 url('../fonts/TradeGothicW1G20.ttf') format("truetype"),
		 url('../fonts/TradeGothicW1G20.svg#TradeGothicW1G20') format("svg");
	font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'tradegothic_boldcondtwenty20';
    src: url('../fonts/tradegothic-boldcondno20-webfont-webfont.eot');
    src: url('../fonts/tradegothic-boldcondno20-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-boldcondno20-webfont-webfont.woff') format('woff'),
         url('../fonts/tradegothic-boldcondno20-webfont-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-boldcondno20-webfont-webfont.svg#tradegothic_boldcondtwentyRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'trade_gothic_lt_stdCnno18';
    src: url('../fonts/tradegothicltstd-cn18-webfont-webfont.eot');
    src: url('../fonts/tradegothicltstd-cn18-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothicltstd-cn18-webfont-webfont.woff2') format('woff2'),
         url('../fonts/tradegothicltstd-cn18-webfont-webfont.woff') format('woff'),
         url('../fonts/tradegothicltstd-cn18-webfont-webfont.ttf') format('truetype'),
         url('../fonts/tradegothicltstd-cn18-webfont-webfont.svg#trade_gothic_lt_stdCnno18') format('svg');
    font-weight: normal;
    font-style: normal;
}

  
 
  
@font-face {font-family: 'CheddarGothicSans';src: url('../fonts/344596_E_0.eot');src: url('../fonts/344596_E_0.eot?#iefix') format('embedded-opentype'),url('../fonts/344596_E_0.woff2') format('woff2'),url('../fonts/344596_E_0.woff') format('woff'),url('../fonts/344596_E_0.ttf') format('truetype');}
 
@font-face {font-family: 'CheddarGothicSans-Italic';src: url('../fonts/344596_10_0.eot');src: url('../fonts/344596_10_0.eot?#iefix') format('embedded-opentype'),url('../fonts/344596_10_0.woff2') format('woff2'),url('../fonts/344596_10_0.woff') format('woff'),url('../fonts/344596_10_0.ttf') format('truetype');}
 